@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5e5;
  font-family: "Open Sans";
}
h1 {
  padding: 10px 0;
  text-align: center;
  font-size: 72px;
  line-height: 136%;
}
.container {
  width: 60vw;
  margin: 0 auto;
  min-height: 100vh;
  background: url(img/Home.png) bottom no-repeat;
  background-size: contain;
}
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.input {
  min-width: 150px;
  width: 19vw;
  height: 40px;
  border-right: none;
  font-size: 14px;
  padding: 0 5px;
}
.input:focus {
  outline: 0;
  background-color: rgb(238, 244, 247);
}
.input::placeholder {
  padding: 5px;
  font-size: 14px;
}
#add-btn {
  background-color: #59b4d1;
  color: white;
  padding: 11px 36px;
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 13px;
  line-height: 138%;
  letter-spacing: 0.5px;
  border: 2px #59b4d1 solid;
}
#add-btn:hover {
  border: 2px #1ea5ce solid;
  cursor: pointer;
}
.main-content {
  display: flex;
  flex: 1 1 33.333%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-content__card {
  width: 18vmax;
  min-width: 300px;
  min-height: 100px;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  margin-bottom: 15px;
}
.main-content__card:not(:last-child) {
  margin-right: 15px;
}
.main-content__card::before {
  content: "";
  position: absolute;
  border-radius: 4px 4px 0px 0px;
  top: -5px;
  left: 0;
  height: 5px;
  width: 100%;
}
.todo {
  height: 100%;
  background-color: #59b4d1;
}
.todo::before {
  background: rgba(29, 138, 172, 0.8);
}
.inprocess {
  height: 100%;
  background-color: #d0935a;
}
.inprocess::before {
  background: rgba(160, 107, 57, 0.8);
}
.done {
  height: 100%;
  background-color: #59d090;
}
.done::before {
  background: rgba(45, 163, 100, 0.8);
}
.main-content__title {
  padding: 10px 0 10px 10px;

  font-size: 18px;
  line-height: 138%;
  letter-spacing: -0.02em;
}
.main-content__title span {
  margin-left: 10px;
}
.title-white {
  color: #fff;
  font-weight: 700;
}
.title-black {
  color: black;
  font-weight: 700;
}
.main-content__inside {
  position: relative;
  margin: 0px auto 10px auto;
  background-color: #fff;
  max-width: 95%;
  border-radius: 4px;
}
.inside__block {
  padding: 15px 10px 10px 10px;
}
.inside__text {
  font-family: "Open Sans";
  font-style: italic;
  font-size: 17px;
  font-weight: 300;
  color: #171717;
  letter-spacing: -0.02em;
  line-height: 150%;
  word-wrap: break-word;
}
.inside__time {
  margin-top: 10px;
  padding: 5px;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: -0.02em;
  font-family: "Open Sans";
  font-weight: bold;
  border-radius: 2px;
  display: inline-block;
}
.newItem {
  opacity: 0;
  transition: 0.5s ease;
  animation: add 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.navigation {
  position: absolute;
  bottom: 3px;
  right: 10px;
  display: flex;
}
.go,
.pencil {
  margin-right: 3px;
}
.go,
.cancel,
.pencil {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}
textarea {
  width: 95%;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 17px;
  font-weight: 300;
  color: #171717;
  letter-spacing: -0.02em;
  line-height: 150%;
  word-wrap: break-word;
  border: none;
  resize: none;
  padding-left: 3px;
  position: relative;
}
.textarea__help {
  font-style: normal;
  position: absolute;
  bottom: 25px;
  left: 21%;
  font-size: 12px;
  font-weight: 400;
  color: rgb(17, 17, 17);
}
.textarea__help span {
  font-weight: bold;
  color: #0a2df5;
  cursor: pointer;
}
.textarea__help span:hover {
  color: rgba(214, 111, 15, 1);
}
@keyframes add {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 2000px) {
  .inside__text {
    font-size: 18px;
  }
  .inside__time {
    font-size: 12px;
  }
  .main-content__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 1550px) {
  .main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .inside__text {
    font-size: 16px;
  }
  .inside__time {
    font-size: 10px;
  }
  .main-content__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-content__card:not(:last-child) {
    margin-right: 0;
  }
  .container {
    min-width: 300px;
  }
}
